@charset "UTF-8";
/* MIXINS */
/* FUNCTIONS */
/*
 * Headings
 *
 * Thanks
 * https://guwii.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  /***** @extend %color-palette-ukm; *****/
  --color-primary-blue-50: 216, 33%, 97%;
  --color-primary-blue-100: 218, 81%, 94%;
  --color-primary-blue-200: 221, 91%, 87%;
  /* --color-primary-300: #fff; */
  --color-primary-blue-400: 225, 95%, 76%;
  /* --color-primary-500: #fff; */
  --color-primary-blue-600: 228, 96%, 67%;
  /* --color-primary-700: #fff; */
  --color-primary-blue-800: 228, 84%, 56%;
  --color-primary-blue-900: 240, 95%, 15%;
  --color-neutral-coldgray-100: 223, 54%, 97%;
  /* --color-neutral-coldgray-200: #fff; */
  /* --color-neutral-coldgray-300: #fff; */
  --color-neutral-coldgray-400: 221, 26%, 84%;
  /* --color-neutral-coldgray-500: #fff; */
  /* --color-neutral-coldgray-600: #fff; */
  --color-neutral-coldgray-700: 222, 18%, 43%;
  /* --color-neutral-coldgray-800: #fff; */
  --color-neutral-coldgray-900: 225, 43%, 5%;
  --color-neutral-gray-100: 223, 54%, 97%;
  --color-very-light-blue: 210, 38%, 95%;
  --color-light-blue: 214, 100%, 99%;
  --color-dark-blue: 217, 95%, 60%;
  --color-pink: 329, 94%, 52%;
  --color-danger-50: 0, 81%, 69%;
  --color-danger-100: 0, 81%, 49%;
  --color-danger-300: 0, 61%, 49%;
  /***** @extend %font; *****/
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/* BODY */
body {
  font-family: "Helvetica Neue", Arial, freesans, sans-serif !important;
  color: #000;
  line-height: 1.5em;
}

/* CONTAINER */
@media (max-width: 576px) {
  .container-padding-small {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/* TEXT */
small,
.small {
  font-size: 0.8em;
  line-height: 1.2em;
}

p {
  line-height: 1.5em;
}
p + p {
  margin-top: 1.5rem;
}

a.white,
.white {
  color: #fff !important;
}
a.white :visited,
a.white :focus,
.white :visited,
.white :focus {
  color: #fff !important;
}

.text-danger {
  color: hsl(var(--color-danger-100)) !important;
}

.lead {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.33rem;
  font-weight: 300;
  line-height: 1.5em;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  opacity: 0.85;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 1.2em;
}

h2 {
  font-size: 1.4em;
  margin-top: 1.2em;
  margin-bottom: 0.2em;
}

h3 {
  margin-top: 1.3em;
  font-size: 1.15rem;
  opacity: 0.9;
}

h4.linje {
  font-size: 0.8em;
  line-height: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0.65);
  color: rgba(0, 0, 0, 0.65);
}

/* FORMS */
label {
  margin-bottom: 0;
}
label + .help {
  margin-top: 0;
}

.help {
  font-size: 0.8em;
  line-height: 1.2em;
  font-style: italic;
  margin-bottom: 0.2em;
}
.help + .form-control {
  margin-top: 0.2em;
}

.form-control {
  border-color: hsl(var(--color-primary-blue-100));
}
.form-control + .help {
  margin-top: 0.4em;
}
.form-control:focus {
  border-color: hsl(var(--color-primary-100));
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: border-color;
}

/* BUTTONS */
.btn-xs,
a.btn-xs {
  font-size: 0.6em;
  text-transform: uppercase;
  padding: 0.4em 0.8em;
}
.btn-danger,
a.btn-danger {
  background: hsl(var(--color-danger-100));
  border-color: hsl(var(--color-danger-300));
  color: #fff !important;
}
.btn-primary,
a.btn-primary {
  background-color: hsl(var(--color-primary-100));
  border-color: hsl(var(--color-primary-100));
  color: #fff !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus,
a.btn-primary:hover,
a.btn-primary:active,
a.btn-primary:visited,
a.btn-primary:focus {
  background-color: hsl(var(--color-primary-100));
  border-color: hsl(var(--color-primary-100));
  color: #fff !important;
}
.btn-outline-primary, .btn-outline-primary,
a.btn-outline-primary,
a.btn-outline-primary {
  background-color: transparent;
  border-color: hsl(var(--color-primary-100)) !important;
  color: hsl(var(--color-primary-100)) !important;
}
.btn-outline-primary :hover,
.btn-outline-primary :visited, .btn-outline-primary :hover,
.btn-outline-primary :visited,
a.btn-outline-primary :hover,
a.btn-outline-primary :visited,
a.btn-outline-primary :hover,
a.btn-outline-primary :visited {
  background-color: transparent;
  border-color: hsl(var(--color-primary-100)) !important;
  color: hsl(var(--color-primary-100)) !important;
}
.btn-outline-primary :active,
.btn-outline-primary :focus,
.btn-outline-primary :active:focus, .btn-outline-primary :active,
.btn-outline-primary :focus,
.btn-outline-primary :active:focus,
a.btn-outline-primary :active,
a.btn-outline-primary :focus,
a.btn-outline-primary :active:focus,
a.btn-outline-primary :active,
a.btn-outline-primary :focus,
a.btn-outline-primary :active:focus {
  background-color: hsl(var(--color-primary-100)) !important;
}
.btn-outline-primary :focus,
.btn-outline-primary :active, .btn-outline-primary :focus,
.btn-outline-primary :active,
a.btn-outline-primary :focus,
a.btn-outline-primary :active,
a.btn-outline-primary :focus,
a.btn-outline-primary :active {
  color: #fff !important;
}
.btn-outline-primary.white, .btn-outline-primary.white,
a.btn-outline-primary.white,
a.btn-outline-primary.white {
  color: #fff !important;
  border-color: #fff !important;
}
.btn-secondary,
a.btn-secondary {
  background-color: hsl(var(--color-pink));
  border-color: hsl(var(--color-pink));
  color: #fff !important;
}
.btn-secondary :active, .btn-secondary :visited, .btn-secondary :focus,
a.btn-secondary :active,
a.btn-secondary :visited,
a.btn-secondary :focus {
  background-color: hsl(var(--color-pink));
  border-color: hsl(var(--color-pink));
  color: #fff !important;
}
.btn-secondary :hover,
a.btn-secondary :hover {
  background-color: hsl(var(--color-pink));
  border-color: hsl(var(--color-pink));
}

/* BADGES */
.badge-square {
  border-radius: 0;
}

.badge-primary {
  background-color: hsl(var(--color-primary-100));
  border-color: hsl(var(--color-primary-100));
}

/* ALERTS */
.alert-primary {
  background-color: #fff;
  border-color: hsl(var(--color-primary-100)) -dark !important;
  color: hsl(var(--color-primary-100)) -dark !important;
}

.alert.alert-danger {
  background-color: hsl(var(--color-danger-50));
  border-color: hsl(var(--color-danger-300));
  color: hsl(var(--color-danger-300));
}

/* BACKWARDS COMPAT */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: hsl(var(--color-primary-coldgray-900, var(--color-primary-orange-900)));
}

blockquote.lead {
  padding-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 500;
}

blockquote:before {
  content: "";
  background-repeat: no-repeat;
  display: inline-grid;
  background-size: contain;
  float: left;
  height: 100%;
  padding: 1.4em;
  margin-left: -2.4em;
  margin-right: -0.7em;
  opacity: 0.85;
  font-family: icomoon;
  font-size: 2rem;
  margin-top: -1.4em;
}

cite {
  display: block;
  font-size: 0.75em;
  font-weight: 100;
  font-variant: normal;
  text-align: right;
  text-transform: uppercase;
  margin-right: 1em;
  margin-top: 0.5em;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
}

/** LIMIT STUFFS WIDTHS **/
iframe {
  max-width: 100% !important;
}

/** 
 * THANK YOU BEN MARSHALL!
 * https://benmarshall.me/responsive-iframes/
**/
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.iframe-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-bottom: 75%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overunder {
  text-align: center;
  font-weight: 400;
  color: inherit;
  text-rendering: optimizelegibility;
}
.overunder > .over {
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
}
.overunder > .under {
  text-align: center;
  font-size: 0.7em;
  line-height: 1em;
}
.overunder > .over small {
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
}

/*
 * ARVET FRA UKMResponsive 🧓
*/
.navbar-header {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}
.navbar-separator {
  margin-bottom: 1rem;
  border-bottom: 5px solid hsl(var(--color-primary-100));
}
.navbar-separator #skygge {
  height: 15vh;
  float: right;
  margin-top: -15vh;
  margin-right: 4vw;
}

#UKMslogan {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 1rem;
}
@media (min-width: 992px) {
  #UKMslogan {
    margin-top: -3rem;
  }
}
@media (min-width: 1200px) {
  #UKMslogan {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    font-size: 3rem;
  }
}

#UKMlogo {
  width: 3.8em;
  margin-top: -0.1em;
}

#UKMheader {
  background: #fff;
  position: relative;
  /* Section title hvis vi ikke har bakgrunn */
}
#UKMheader #main_menu_button {
  background: rgba(255, 255, 255, 0.44);
}
#UKMheader.navbar-with-slogan {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#UKMheader > .sectionTitle > a {
  font-size: 1.5em;
  font-weight: 100;
  color: hsl(var(--color-primary-100));
  padding-top: 0.75rem;
}
#UKMheader.background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 30vh;
  /* Section title hvis vi har bakgrunn */
}
#UKMheader.background.top {
  background-position-y: top;
}
#UKMheader.background .sectionTitle {
  position: absolute;
  bottom: 0.5em;
}
#UKMheader.background .sectionTitle > a {
  color: #fff;
}
#UKMheader.background .sectionTitle > a:hover {
  text-decoration: none;
}

/*
 * NYTT fra 2020 🎉
*/
.ukm-logo {
  color: hsl(var(--color-neutral-coldgray-100));
}

.sign-in {
  color: hsl(var(--color-neutral-coldgray-100));
  font-weight: var(--font-weight-medium);
}

.toggle-burger {
  float: right;
}

@media (max-width: 991.98px) {
  .header {
    padding: 0 1rem;
    padding-top: 0.2rem;
  }

  .ukm-logo {
    width: 1.75rem;
    height: 1rem;
  }

  .sign-in {
    font-size: 0.8em;
  }
}
@media (min-width: 992px) {
  .header {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 0.9rem;
  }

  .ukm-logo {
    width: 4rem;
    height: 2.25rem;
  }

  .sign-in {
    font-size: 1.125em;
  }
}
.UKMtoggleContent#UKMtoggleLokal {
  display: none;
}

@media (min-width: 768px) {
  .UKMtoggleContent#UKMtoggleLokal {
    display: block;
    display: flex;
  }
}
.kontaktperson-bilde {
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@-moz-document url-prefix() {
  .kontaktperson-bilde {
    display: table;
  }
}
.fylkesfestival {
  background: hsl(var(--color-primary-100));
  color: #fff;
}

.fylkesfestival-banner-container {
  margin: 0 !important;
}

.fylkesfestival-banner {
  padding-bottom: 0px !important;
}

.fylkesfestival-banner .title {
  line-height: 1.1;
  bottom: 0;
  margin-top: -20px;
}

.fylkesfestival-banner .innformasjon {
  margin-left: 0px !important;
}

.fylkesfestival-banner .knapper .menu-item {
  padding: 0px !important;
}

@media (min-width: 768px) {
  .fylkesfestival-banner-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #finnKommune.found-few,
#finnKommune.found-none {
    margin-bottom: 10em !important;
  }
}
.fylke-pameldte {
  margin-top: -1rem;
  color: hsl(var(--color-primary-100));
  font-size: 0.7em;
  font-weight: 400;
  float: right;
}

/*# sourceMappingURL=main.css.map */
