@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./abstracts/ukm/colors";
@import "./abstracts/bak_ukm/colors";

@import "./base/bootstrap_mods";
@import "./base/fonts";
@import "./base/icons-icomoon-entypo";
@import "./base/links";
@import "./base/text";
@import "./base/layout";

@import "./components/blockquote";
@import "./components/button";
@import "./components/card";
@import "./components/contact";
@import "./components/dot";
@import "./components/geolocation";
@import "./components/hero";
@import "./components/iframe";
@import "./components/innslag";
@import "./components/kontakt"; // OBS
@import "./components/liste";
@import "./components/menu_page";
@import "./components/news";
@import "./components/overunder";
@import "./components/post";
@import "./components/posts";
@import "./components/some-carousel";
@import "./components/testimonial";
@import "./components/fadecollapsible";
@import "./components/tidligere_arrangementer";
@import "./components/velg_fylke";
@import "./components/infopage";
@import "./components/likerukmno";

@import "./layout/block";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/banner";
@import "./layout/nav";

@import "./pages/fylke";
@import "./pages/program";

@keyframes subtle_transition {
  from {
    opacity: 0;
    transition: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transition: rotateX(0);
  }
}

@mixin fadeIn($waitTime) {
  animation: 
  wait #{$waitTime},
  smooth_transform 800ms #{$waitTime};
}

@keyframes wait {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes smooth_transform {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  animation: subtle_transition 0.75s;
}

.hero-container .row:first-child {
  animation: smooth_transform 1s;
}

.card-info-section .card-component {
  &:first-child {
    @include fadeIn('0.5s');

  }
  &:nth-child(2) {
    @include fadeIn('1s');
  }
  &:nth-child(3) {
    @include fadeIn('1.5s');

    
  }
}

ul {
  list-style-type: none;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.8rem;
  font: normal normal 600 14px/18px Poppins;
  color: hsla(225, 43%, 5%, 1);
}

.choice-item {
  background-color: hsla(218, 81%, 94%, 0.5);
  padding: 1rem;
  border-radius: 0.3125rem;

  @media (min-width: 768px) {
    width: 18rem;
  }

  @media (min-width: 992px) {
    width: 29rem;
    padding: 1.25rem;
  }
}

.clickable {
  display: inline-block;
  padding: 0.8rem 0.5rem;
}

.ukm-card-section-3 {
  width: 20.4375rem;
  height: 18.9375rem;
}

.se-mer {
  color: hsl(var(--color-primary-blue-800));
}

.btn-toolbar {
  justify-content: center;
}

.bread-title {
  font: normal normal 600 12px/18px Poppins;
}

.ukm-button-plain {
  font: normal normal 600 0.75rem/1.125rem Poppins !important;
  background: none !important;
  padding: 0.875rem 0 !important;
}

.ukm-button-footer {
  background: none !important;
  padding: 0.875rem 0.5rem !important;
}

.dropdown-divider {
  border-top: 2px solid hsla(var(--color-very-light-blue));
  width: 13rem;
  margin: 0.5rem auto;
}
