@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./abstracts/ukm/colors";

@import "./base/bootstrap_mods";
@import "./base/fonts";
@import "./base/icons-icomoon-entypo";
@import "./base/links";
@import "./base/text";
@import "./base/layout";

@import "./components/blockquote";
@import "./components/button";
@import "./components/card";
@import "./components/contact";
@import "./components/dot";
@import "./components/geolocation";
@import "./components/hero";
@import "./components/iframe";
@import "./components/innslag";
@import "./components/kontakt"; // OBS
@import "./components/liste";
@import "./components/menu_page";
@import "./components/news";
@import "./components/overunder";
@import "./components/post";
@import "./components/posts";
@import "./components/some-carousel";
@import "./components/testimonial";
@import "./components/fadecollapsible";
@import "./components/tidligere_arrangementer";
@import "./components/velg_fylke";
@import "./components/infopage";
@import "./components/likerukmno";

@import "./layout/block";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/banner";
@import "./layout/nav";

@import "./pages/fylke";
@import "./pages/program";

ul {
  list-style-type: none;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.8rem;
  font: normal normal 600 14px/18px Poppins;
  color: hsla(225, 43%, 5%, 1);
}

.choice-item {
  background-color: hsla(218, 81%, 94%, 0.5);
  padding: 1.5rem;

  @media (min-width: 768px) {
   width: 18rem;
  }

  @media (min-width: 992px) {
    width: 29rem;
   }
}

// test
// * {
//     outline: 1px solid hsl(var(--color-primary-blue-400));
// }
// test

.clickable {
  display: inline-block;
  padding: 0.8rem 0.5rem;
}

.ukm-card-section-3 {
  width: 20.4375rem;
  height: 18.9375rem;
}

.people-carousel {
  margin-left: 0.5rem;
  margin-top: -3rem;
  overflow: scroll;
  scrollbar-width: none;
}

@media (min-width: 992px) {
  .people-carousel {
    overflow: hidden;
  }
}

.some-carousel {
  overflow: scroll;
  scrollbar-width: none;
}

@media (max-width: 991.98px) {
  .card-image {
    width: 19.4375rem;
    height: 8rem;
    border-radius: 0.75rem 0.75rem 0 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-large {
      position: relative;
      // margin-left: auto;
      margin-top: 1rem;
      width: 20.4375rem;
      height: 12.75rem;
      background: #a0aec0;
    }

    &-small {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 0.75rem;
    }

    &.card-news {
      height: 10rem;
      width: -webkit-fill-available;
    }
  }
}

@media (min-width: 992px) {
  .card-image {
    width: 37.75rem;
    height: 15.375rem;
    border-radius: 0.75rem 0.75rem 0 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-large {
      position: relative;
      // margin-left: auto;
      margin-top: 1rem;
      width: 20.4375rem;
      height: 12.75rem;
      background: #a0aec0;
    }

    &-small {
      // width: 5.5rem;
      // height: 5.5rem;
      width: 10.9375rem;
      height: 10.9375rem;
      border-radius: 0.75rem;
    }

    &.card-news {
      height: 15rem;
      width: -webkit-fill-available;
    }

    &.first-news-image {
      @media (min-width: 992px) {
          height: 28rem;
      }
  }
  }
}

.card-element {
  position: relative;
  padding: 0.9rem 1.4rem;
  margin: 0;
}

.card-element-end {
  padding: 0.5rem;
}

.se-mer {
  color: hsl(var(--color-primary-blue-800));
}

.btn-toolbar {
  justify-content: center;
}

.bread-title {
  font: normal normal 600 12px/18px Poppins;
}

.ukm-button-plain {
  font: normal normal 600 0.75rem/1.125rem Poppins !important;
  background: none !important;
  padding: 0.875rem 0 !important;
}

.ukm-button-footer {
  background: none !important;
  padding: 0.875rem 0.5rem !important;
}

.dropdown-divider {
  border-top: 2px solid hsla(var(--color-very-light-blue));
  width: 13rem;
  margin: 0.5rem auto;
}
