.fylke-section {
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    margin-top: 7rem;
  }
}

.fylke {
    &-title {
      font: normal normal var(--font-weight-semibold) 0.75rem/1.125rem Poppins;
      color: hsl(var(--color-neutral-coldgray-900));
      opacity: 0.4;
      padding: 0 1.4375rem;
      text-align: center;
  
      display: flex;
      justify-content: center;
  
      @media (min-width: 992px) {
        font: normal normal var(--font-weight-semibold) 1.125rem/1.625rem Poppins;
        display: initial;
        padding: 0;
      }
    }

    &-item {
      padding-bottom: 0.5rem;
    }
}

