.footerLinks {
  display: flex;
  align-items: center;
}

.mainAccordText {
  background: hsla(var(--white));
  border-radius: 0.3125rem 0.3125rem 0rem 0rem;
  text-align: left;
  border: none;
  display: flex;
  align-items: center;
}

.accordItems {
  font: normal normal var(--font-weight-regular) 0.875rem/1rem Roboto;
  color: hsla(var(--color-neutral-coldgray-900));
}

// Linje i footeren
.line {
  width: 12.5rem;
  font: normal normal var(--font-weight-regular) 0.625rem/1rem Poppins;
  color: hsl(var(--color-neutral-coldgray-900));
  text-align: center;
  border-bottom: 0.125rem solid hsla(var(--color-very-light-blue));
  line-height: 0.1em;
  margin: 0.625rem 0 1.25rem;

  @media (min-width: 992px) {
    width: 448px;
    font: normal normal 300 14px/21px Poppins;
    color: hsl(var(--color-neutral-coldgray-900));
    text-align: center;
    border-bottom: 2px solid hsla(var(--color-very-light-blue));
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  &-long {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  span {
    background:hsl(220,100%,98.8%);
    padding: 0 10px;
  }
}

.footer {
  background: hsla(var(--color-primary-blue-100), 0.5);
  @media (min-width: 992px) {
    // padding-top: 21.375rem;
    background: hsla(var(--color-primary-blue-100), 0.5);
  }
}

.tiktok-footer {
  width: 0.7rem;
  height: 0.7rem;
  @media (min-width: 992px) {
    width: 2.4rem;
    height: 0.5rem;
  }
}

.vibakukm {
  &-title {
    font: normal normal var(--font-weight-semibold) 0.75rem/1.125rem Poppins;
    color: hsl(var(--color-neutral-coldgray-900));
    opacity: 0.4;
    padding: 0 1.4375rem;
    text-align: center;

    display: flex;
    justify-content: center;

    @media (min-width: 992px) {
      font: normal normal 600 18px/26px Poppins;
      color: hsl(var(--color-neutral-coldgray-900));
      opacity: 0.4;
      padding: 0 1.4375rem;
      justify-content: normal;
      padding-left: 0;
    }
  }
}

.footer-ukm-logo {
  padding: 0.8rem 0.5rem;

  @media (min-width: 992px) {
    display: inline-block;
  }

  img {
    color: hsl(var(--color-neutral-coldgray-100));
    width: 1.75rem;
    height: 1rem;

    @media (min-width: 992px) {
      width: 4rem;
      height: 2.25rem;
    }
  }
}

.locationBreadcrum {
  width: -webkit-fill-available;
  width: -moz-available;
  background: rgba(255, 255, 255, 0.6);;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.3125rem 0.9375rem hsla(var(--color-primary-blue-600), 0.11);

  @media (min-width: 768px) {
    padding: 0 1rem;
  }
  
  @media (min-width: 992px) {
    width: auto;
    height: 5rem;
    background: rgba(255, 255, 255, 0.5);;
    border-radius: 0;
    padding: .5rem 1rem;
  }
}

.breadcrumText {
  font: normal normal normal 0.75rem/1rem Roboto;
  color: hsla(var(--color-neutral-coldgray-900), 1);

  @media (min-width: 992px) {
    font: normal normal 300 24px/16px Roboto;
    color: hsla(225, 43%, 5%, 1);
  }
}

.mainAccordText {
  width: -moz-available;
  width: -webkit-fill-available;
  height: 3rem;
  background: hsla(0, 0%, 100%, 1);
  border-radius: 0.3125rem 0.3125rem 0 0;
  text-align: left;
  border: none;
  display: flex;
  align-items: center;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px hsla(var(--color-primary-blue-100),0.24);
    border: none;
    margin: 0;
  }

  &:hover, &:active, &:visited, &:focus, &:checked  {
    background: hsla(0, 0%, 100%, 1);
    opacity: 1;
    border-color: white;
  }

  @media (min-width: 992px) {
    width: -moz-available;
    width: -webkit-fill-available;
    height: 5rem;
    background: hsla(0, 0%, 100%, 1);
    border-radius: 0.3125rem 0.3125rem 0 0;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
  }
}

.accordSubbutton {
  width: -moz-available;
  width: -webkit-fill-available;
  height: 3rem;
  background: hsla(0, 0%, 100%, 1);
  border-radius: 0.3125rem 0.3125rem 0 0;
  text-align: left;
  border: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px hsla(var(--color-primary-blue-100),0.24);
    border: none;
    margin: 0;
  }

  &:hover, &:active, &:visited, &:focus, &:checked  {
    background: hsla(0, 0%, 100%, 1);
    opacity: 1;
    border-color: white;
    box-shadow: none;
  }

  @media (min-width: 992px) {
    height: 5rem;
    background: hsla(0, 0%, 100%, 1);
    border-radius: 0.3125rem 0.3125rem 0 0;
    text-align: left;
    border: none;
  }

  span {
    font: normal normal var(--font-weight-regular) 1rem/1.1875rem Roboto;
    color: hsla(var(--color-neutral-coldgray-900), 1);
    z-index: 99999;
    position: inherit;
    @media (min-width: 992px) {
      font: normal normal var(--font-weight-regular) 1.5rem/1.75rem Roboto;
      color: hsla(var(--color-neutral-coldgray-900), 1);
    }
  }
}

.accordSubtext {
  font: normal normal var(--font-weight-regular) 1rem/1.1875rem Roboto;
  color: hsla(var(--color-neutral-coldgray-900), 1);
  z-index: 99999;
  position: inherit;
  @media (min-width: 992px) {
    font: normal normal var(--font-weight-regular) 1.5rem/1.75rem Roboto;
    color: hsla(var(--color-neutral-coldgray-900), 1);
  }
}

.caret-flip {
  width: 1.5rem;
  height: 1.5rem;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  @media (min-width: 992px) {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.flex-gap {
  @media (min-width: 992px) {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  }
} 

.btn-pamelding {
  display: none;
  @media (min-width: 768px) {
    display: revert;
    visibility: hidden;
  }
  @media (min-width: 1199px) {
    visibility: visible;
  }
}

.breadcrum-large {
  display: none;
  @media (min-width: 768px) {
    display: revert;
  }
}

.breadcrum-small {
  @media (min-width: 768px) {
    display: none;
  }
}

.link-pamelding {
  @media (min-width: 992px) {
    visibility: hidden;
  }
}