/*
 * ARVET FRA UKMResponsive 🧓
*/
.navbar {
    &-header {
        padding-top: 0.5rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }

    &-separator {
        margin-bottom: 1rem;
        border-bottom: 5px solid hsl(var(--color-primary-blue-900));
    }

    &-separator #skygge {
        height: 15vh;
        float: right;
        margin-top: -15vh;
        margin-right: 4vw;
    }
}

#UKMslogan {
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 1rem;

    @media (min-width: 992px) {
        margin-top: -3rem;
    }
    @media (min-width: 1200px) {
        padding-bottom: 3.5rem;
        padding-top: 3.5rem;
        font-size: 3rem;
    }
}

#UKMlogo {
    width: 3.8em;
    margin-top: -0.1em;
}

#UKMheader {
    background: #fff;
    position: relative;

    #main_menu_button {
        background: rgba(255, 255, 255, 0.44);
    }

    &.navbar-with-slogan {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    /* Section title hvis vi ikke har bakgrunn */
    .sectionTitle {
        padding-top: 0.75em;
        text-align: center;

        & > a {
            font-size: 1.45em;
            font-weight: 100;
            color: hsl(var(--color-primary-blue-900));
        }
    }

    &.background {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 30vh;

        &.top {
            background-position-y: top;
        }

        /* Section title hvis vi har bakgrunn */
        .sectionTitle {
            position: absolute;
            bottom: 0.5em;

            & > a {
                color: #fff;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/*
 * NYTT fra 2020 🎉
*/
header {
    .ukm-logo {
        color: hsl(var(--color-neutral-coldgray-100));
    }

    .sign-in {
        color: hsl(var(--color-neutral-coldgray-100));
        font-weight: var(--font-weight-medium);
    }

    .toggle-burger {
        float: right;
    }

    .menu-links {
        color: hsl(var(--color-neutral-coldgray-100)) !important;
    }

    @media (max-width: 991.98px) {
        .header {
            padding: 0 1rem;
            padding-top: 0.2rem;
        }

        .ukm-logo {
            width: 1.75rem;
            height: 1rem;
        }

        .sign-in {
            font-size: 0.8em;
        }
    }

    @media (min-width: 992px) {
        .header {
            padding-right: 4rem;
            padding-left: 4rem;
            padding-top: 0.9rem;
        }

        .ukm-logo {
            width: 4rem;
            height: 2.25rem;
        }

        .sign-in {
            font-size: 1.125em;
        }
    }

    // hamburger-menu
    .hamburger {
        &-overlay.open {
            background-color: hsla(218, 81%, 94%, 1);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            opacity: 0.5;
            z-index: 999;
        }

        &.open {
            z-index: 1000;
            background-color: var(--white);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

        &-icon {
            width: 24px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;

            &.open span {
                &:nth-child(1) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 2px;
                    left: 7px;
                    background: hsla(225, 43%, 5%, 1);
                }

                &:nth-child(2) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 19px;
                    left: 7px;
                    background: hsla(225, 43%, 5%, 1);
                }
            }

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: hsla(223, 54%, 97%);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }

                &:nth-child(2) {
                    top: 9px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
            }
        }
    }

    .backToMain {
        font: normal normal 600 10px/18px Poppins;
        color: hsla(222, 18%, 43%, 1);
    }
}