.contact-section {
  margin-top: 15vh;
  padding-bottom: 10vh;
  background: transparent
    linear-gradient(
      180deg,
      hsla(var(--color-primary-blue-100), 0) 0%,
      hsla(218, 81%, 94%, 0.5) 100%
    )
    0% 0% no-repeat padding-box;

  .contact-link {
    opacity: 1;
    @include animate-underline;

    span::before {
      bottom: -0.25rem;
      @media (min-width: 768px) {
      bottom: -0.4rem;
    }
    }
  }

  &.other-page {
    height: 80rem;
    @media (min-width: 992px) {
      height: 27.875rem;
    }
  }

  @media (min-width: 992px) {
    // margin-top: 21.375vh;
    background: transparent
      linear-gradient(
        180deg,
        hsla(var(--color-primary-blue-100), 0) 0%,
        hsla(218, 81%, 94%, 0.5) 100%
      )
      0% 0% no-repeat padding-box;
  }
}

.start {
  margin-top: 8rem;
  @media (min-width: 992px) {
    margin-top: 12rem;
  }
}
