.icon {
    height: 1.2rem;
    width: auto;
    // margin-left: .4rem;
    @media (min-width: 992px) {
        height: 1.7rem;
    }
    &-front {
        height: 1.7rem;
        align-self: center;
        margin-left: 0;
        margin-right: -0.4rem;
    }

    &-some {
        position: absolute;
        &-large {
            top: 0;
            left: 0;
        }
        &-yt {
            width: 1rem;
            height: 0.90625rem;
            left: 1.86rem;
        }

        &-large-yt {
            width: 2rem;
            height: 1.8125rem;
            left: 1.86rem;
        }
    }
}

.dot-large-grey {
    position: relative;
    height: 2.625rem;
    width: 2.625rem;
    top: 0;
    left: 0;
    right: 0;
}
