.UKMfavoritt {
    margin-bottom: 2em;

    .body {
        background: #fcfcfc;

        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;

        border-bottom: 2px solid #ccc;
        margin-top: -1em;

        @media (min-width: 768px) {
            border: 1px solid #ccc;
            margin-top: 0;
            padding-left: 0em;
            padding-right: 0em;
        }
    }

    .icon-heart {
        color: hsl(var(--color-primary-blue-900));
        font-size: 1.3em;
    }
}
