.ukm-bolge {
  overflow: hidden;
  position: relative;
  height: 12.5rem;

  &-front {
    height: 18.375rem;
    position: absolute;
    padding: 0;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;

    @media (min-width: 992px) {
      height: 45rem;
    }
  }

  > .div-radius {
    background: url("../../img/bolger.png") top center / 100% 21.75rem no-repeat;
    height: 18.375rem;
    position: absolute;
    width: 150%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    left: 50%;
    transform: translate(-50%, 0);

    @media (min-width: 992px) {
      background: url("../../img/bolger.png") top center / 100% 89.9375rem
        no-repeat;
      top: -1.5625rem;
      height: 45rem;
    }

    &-tint {
      background: linear-gradient(0deg, rgba(19, 21, 27, 0.3) 0%, white 100%);
      opacity: 0.5;
      z-index: 1;

      @media (min-width: 992px) {
        background: linear-gradient(
          0deg,
          hsla(223, 16%, 9%, 0.3) 0%,
          hsla(0, 0%, 100%, 1) 100%
        );
      }
    }
  }

  > .background-space {
    height: calc(13.375rem - 3.125rem);
  }
}

.hero-text {
  width: 15rem;
  font: var(--font-weight-bold) 1.75rem/2.625rem var(--font-poppins);
  margin: 0;
  text-shadow: 0 0.3125rem 0.9375rem hsla(0, 0%, 0%, 0.3);
  color: hsl(var(--color-neutral-gray-100));

  &.other-page {
  font: var(--font-weight-bold) 3.75rem/1.25 var(--font-poppins);
  color: black; text-shadow: none; width: auto;
}
  @media (min-width: 992px) {
    width: auto;
    font: var(--font-weight-bold) 5rem/5.25rem var(--font-poppins);
  }

  &-section {
    top: 50%;
    width: inherit;
    padding: 0 1.5rem;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;

    &.other-page {
      margin-left: 0;
      max-width: 76rem;

      @media (min-width: 992px) {
        padding: 0;
      }
    }

    @media (min-width: 992px) {
      max-width: 50rem;
      top: 30%;
      margin-left: 20rem;
    }
  }

  &-lead {
    display: none;

    &.other-page {
      color: hsl(var(--color-neutral-gray-900));
    }
    @media (min-width: 992px) {
      display: block;
      color: hsl(var(--color-neutral-gray-100));
      font: var(--font-weight-semibold) 2.5em/2.75rem var(--font-poppins);
      opacity: 0.85;
    }
  }
}

.front-buttons {
  margin-top: -2rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem;

  @media (min-width: 992px) {
    margin-left: 20rem;
    margin-top: -4rem;
  }
}

.callback {
  display: none;
}

.ukm-navbar {
  z-index: 9999;
  justify-content: space-between;
  @media (min-width: 992px) {
    padding-left: 3rem;
    padding-right: 2rem;
  }

  &.other-page {
    height: 5rem;
    background-color: white;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }
}

.burger-text {
  font: normal normal var(--font-weight-semibold) 0.875rem/1.125rem
    var(--font-poppins);
  color: hsla(225, 43%, 5%, 1);
}

@media (max-width: 991.98px) {
  // error hvis disse fjernes?
  .ukm-bolge {
    position: relative;
    height: 12.5rem;

    &-front {
      height: 18.375rem;
    }
  }
}

@media (min-width: 992px) {
  .ukm-bolge {
    // error hvis disse fjernes?
    position: relative;
    height: 12.5rem;

    &-front {
      height: 45rem;
    }
  }
}
