@media (max-width: 991.98px) {
    .undertitler {
        font: normal normal var(--font-weight-semibold) .75rem/1.125rem Poppins;
        color: hsl(var(--color-neutral-coldgray-900));
        opacity: 0.4;
        padding: 0 1.4375rem;
        text-align: center;
    }

    .undertitler-small {
        font: normal normal var(--font-weight-semibold) .75rem/1.125rem Poppins;
    }

    .video-description {
        position: absolute; 
        bottom: 0;
        margin-left: 1rem;
    
        span {
            font-size: .8em; 
            font-weight: var(--font-weight-medium); 
            color: hsl(var(--color-pink));
        }
    
        p {
            font-size: .8em; 
            color: hsl(var(--color-neutral-coldgray-100));
            font-weight: var(--font-weight-regular); 
        }
    }

    .play-button {
        width: 5rem; 
        height: 5rem;
    }

    .button-item {
        font-size: .625em;
        border: .0625rem solid hsl(var(--color-neutral-coldgray-100)) !important;
        color: hsl(var(--color-neutral-coldgray-100)) !important;
        border-radius: .75rem;
    }

    .btn {
        line-height: .5rem;
    }

    .leaf {
        overflow: hidden;
        
        &-red {
            position:absolute; 
            top: 4px;
            left: -259px; 
            width: 546px;
            height: 349px;
            background: transparent linear-gradient(90deg, hsla(152, 100%, 52%, 1) 0%, hsla(55, 99%, 69%, 1) 100%) 0% 0% no-repeat padding-box; 
            border-radius: 0% 100% 0% 100% / 1% 99% 1% 99%;
        }

        &-green{
            left: -24px; 
            position:absolute; 
            top: 86px; 
            width: 402px; 
            transform: rotate(12deg);
            height: 329px; 
            background: transparent linear-gradient(27deg, hsla(331, 100%, 55%, 1) 0%, hsla(339, 100%, 63%, 1) 16%, hsla(5, 100%, 76%, 1) 46%, hsla(32, 100%, 75%, 1) 71%, hsla(48, 100%, 75%, 1) 90%, hsla(54, 100%, 75%, 1) 100%) 0% 0% no-repeat padding-box; 
            border-radius:  100% 0% 100% 22% / 100% 51% 78% 0%;
        }
    }

}

@media (min-width: 992px) {
    .undertitler {
        font: normal normal 600 30px/46px Poppins;
        color: hsl(var(--color-neutral-coldgray-900));
        opacity: 0.4;
        padding: 0 1.4375rem;
        text-align: center;

        &-small {
            font: normal normal 600 20px/30px Poppins;
        }

        &-news {
            padding-bottom: 3rem;
        }
    }    

    .card-image {
        // width: 19.4375rem;
        // height: 8rem;
        // border-radius: .75rem .75rem 0 0;
    
        &-large {
            position: relative; 
            margin-left: auto;
            margin-top: 1rem;
            width: 76.625rem;
            height: 47.8125rem;
            background: #a0aec0;
            border-radius: 1.5625rem;
        @include overlay;

        }
    
        &-small {
            // width: 5.5rem; 
            // height: 5.5rem;
            width: 10.9375rem;
            height: 10.9375rem;
            border-radius: .75rem;
            @include overlay;

        }
    }

    .prev-event-section {
        justify-content: center;
        display: flex;
    }

    .video-description {
        position: absolute; 
        bottom: 0;
        margin-left: 5.5rem;
    
        span {
            font: normal normal bold 40px/61px Poppins;
            // font-weight: var(--font-weight-medium); 
            color: hsl(var(--color-pink));
        }
    
        p {
            font: normal normal normal 40px/59px Roboto;
            // font-size: .8em; 
            color: hsl(var(--color-neutral-coldgray-100));
            // font-weight: var(--font-weight-regular); 
        }
    }

    // .svg-dot {
    //     width: 12.5rem;
    //     height: 12.5rem; 
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0; 
    //     margin: auto; 
    //     display: flex;
    // }

    .button-item {
        font: normal normal bold 22px/49px Roboto;
        border: .0625rem solid hsl(var(--color-neutral-coldgray-700)) !important;
        color: hsl(var(--color-neutral-coldgray-700)) !important;
        border-radius: 3.125rem;
    }

    .btn {
        line-height: 3rem;
    }

    .leaf {
        justify-content: center;
        display: flex;
        overflow-x: hidden;
        
        &-red {
            position: absolute;
            top: -130px;
            left: -380px;
            width: 1000px;
            height: 1166px;
            background: transparent linear-gradient(90deg, #fef162 0%, #0aff8d 100%) 0% 0% no-repeat padding-box;
            border-radius: 69% 39% 76% 21%/40% 31% 67% 60%;
            transform: rotate(28deg);
        }

        &-green{
            left: -1px;
            position: absolute;
            top: -141px;
            width: 99.875rem;
            transform: rotate(14deg);
            height: 75.4375rem;
            background: transparent linear-gradient(27deg, #ff1a88 0%, #ff4284 16%, #ff8f85 46%, #ffc480 71%, #ffe680 90%, #fff280 100%) 0% 0% no-repeat padding-box;
            border-radius: 100% 0% 96% 3% / 81% 44% 54% 16%;
        }
    }
}