@media (max-width: 991.98px) {
    .contact-section {
        margin-top: 8rem;
        height: 446px; 
        background: transparent linear-gradient(180deg, hsla(218, 81%, 94%, 0) 0%, hsla(218, 81%, 94%, 0.5) 100%) 0% 0% no-repeat padding-box;
     }

     .start {
        margin-top: 8rem;
     }

}

@media (min-width: 992px) {
    .contact-section {
        margin-top: 40.60625rem;
        height: 446px; 
        background: transparent linear-gradient(180deg, hsla(218, 81%, 94%, 0) 0%, hsla(218, 81%, 94%, 0.5) 100%) 0% 0% no-repeat padding-box;
     }

     .start {
        margin-top: 12rem;
     }

}