@media (max-width: 991.98px) {
    .header {
        padding: 0 1rem;
        padding-top: .2rem;
    }
}

@media (min-width: 992px) { 
    .header {
        padding-right: 4rem;
        padding-left: 4rem;
    }
 }

.ukm-logo {
    color: hsl(var(--color-neutral-coldgray-100));
    width: 1.75rem; 
    height: 1rem; 
}

.sign-in {
    color: hsl(var(--color-neutral-coldgray-100));
    font-size: .8em; 
    font-weight: var(--font-weight-medium); 
}

.toggle-burger {
    float: right;
}