.ukm-bolge {
    overflow: hidden;
    // position: relative;
    // height: 12.5rem;

    > .div-radius {
        position: absolute;
        width: 150%;
        border-bottom-right-radius: 80%;
        border-bottom-left-radius: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    > .background-space {
        height: calc(13.375rem - 3.125rem);
    }

    &-front {
        position: absolute;
        padding: 0;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }
}

.hero-text {
    margin: 0;
    text-shadow: 0 .3125rem .9375rem hsla(0, 0%, 0%, 0.3);
    color: hsl(var(--color-neutral-gray-100));

    &-section {
        box-sizing: border-box;
        position: absolute;
        z-index: 3;
    }
}

.callback {
    display: none;
}

.burger-text {
    font: normal normal var(--font-weight-semibold) .875rem/1.125rem var(--font-poppins);
    color: hsla(225, 43%, 5%, 1);
}

@media (max-width: 991.98px) {
    .ukm-bolge {
        position: relative;
        height: 12.5rem;
    
        > .div-radius {
            background: url("../../img/bolger.png") top center / 100% 21.75rem no-repeat;
            height: 18.375rem;

            &-tint {
                background: linear-gradient(0deg, rgba(19, 21, 27, 0.3) 0%, white 100%);
                opacity: 0.5;
                z-index: 1;
            }
        }
    
        &-front {
            height: 18.375rem;
        }
    }

    .hero-text {
        width: 15rem;
        font: var(--font-weight-bold) 1.75rem/2.625rem var(--font-poppins);
    
        &-section {
            top: 50%;
            width: inherit;
            padding: 0 1.5rem;
        }
    }

    .front-buttons {
        margin-top: -2rem;
        margin-bottom: 2rem;
        padding: 0 1.5rem;
    }
}

@media (min-width: 992px) {
    .ukm-bolge {
        position: relative;
        height: 12.5rem;
    
        > .div-radius {
            background: url("../../img/bolger.png") top center / 100% 89.9375rem no-repeat;
            top: -1.5625rem;
            height: 45rem;

            &-tint {
                background: linear-gradient(0deg, hsla(223, 16%, 9%, 0.3) 0%, hsla(0, 0%, 100%, 1) 100%);
                opacity: 0.5;
                z-index: 1;
            }
        }
    
        &-front {
            height: 45rem;
        }
    }

    .hero-text {
        font: var(--font-weight-bold) 5rem/5.25rem var(--font-poppins);

        &-section {
            max-width: 45rem;
            top: 30%;
            margin-left: 20rem;
        }
    }
    
    .hero-text-lead {
        color: hsl(var(--color-neutral-gray-100));
        font: var(--font-weight-semibold) 2.5em/2.75rem var(--font-poppins);
        opacity: 0.85;
    }

    .front-buttons {
        margin-left: 20rem;
        margin-top: -4rem;
    }

    .burger-text {
        padding-left: 3rem;
        padding-right: 2rem;
    }
}