.some-section {
    padding: .7rem .5rem 1.5rem;
    margin: 0;
}

.some-item {
    appearance: none;
    background: transparent;
    border: 0 none;
    padding: 0 1.1rem .2rem 0;

    a {
        width: 100%;
        display: inline-block;
    }
}

.some {
    &-title {
        padding: .7rem .5rem 0;
        margin: 0;
    }

    &-section {
        padding: .7rem .5rem 1.3rem;
        margin: 0;
    }

    &-item {
        appearance: none;
        background: transparent;
        border: 0 none;
        padding: 0 1rem 0 0;

        &-large {
            padding: .75rem;
        }

        &-small {
            padding: .75rem 1.25rem;
        }
    }
}

.img-carousel {
    max-width: none !important;
    width: 2.6875rem; 
    height: 2.6875rem; 
    border-radius: .75rem; 
    position: relative;
}

.img-carousel-people {
    // width: 4rem; 
    // height: 4rem; 
    box-shadow: 0rem .1875rem .375rem hsla(var(--color-dark-blue), 0.16);
}

.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: hsla(214, 100%, 99%);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;

    &-grey {
        height: 1.125rem;
        width: 1.125rem;
        background-color: hsla(218, 81%, 94%);
        top: 1.8rem;
        left: 1.8rem;
        right: .875rem;
    
        &-large {
            position: relative;
            height: 2.625rem;
            width: 2.625rem;
            background-color: hsla(218, 81%, 94%);
            top: 0;
            left: 0;
            right: 0;
        }
    }
}

.svg-dot {
    width: .83125rem; 
    height: .875rem; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    margin: auto; 
    display: flex;
    background: none;

    &-large {
        width: 1.6rem;
        height: 1.6rem;
    }
}

.icon-some {
    position: absolute;
    fill:hsla(225, 43%, 5%);

    &-ig-large {
        width: 1.6625rem; 
        height: 1.75rem;
        top: 0;
        left: 0;
    }

    &-tiktok-large {
        width: 1.25rem; 
        height: 1.25rem;
        top: 0;
        left: 0;
    }

    &-fb-large {
        width: 1.5rem; 
        height: 1.55rem;
        top: 0;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .img-carousel {
        max-width: none !important;
        width: 2.6875rem; 
        height: 2.6875rem; 
        border-radius: .75rem; 
        position: relative;

        &-square {
            width: 4rem;
            height: 4rem;
        }
    }

    .tiktok {
        // width: .7rem; 
        // height: .7rem;
        width: 1.3rem; 
        height: 1.3rem;
    }

    .tiktok-card {
        width: .7rem; 
        height: .7rem;
    }

}

@media (min-width: 992px) {
    .img-carousel {
        max-width: none !important;
        width: 13.125rem;
        height: 6.5625rem;
        border-radius: 1.5625rem; 
        position: relative;
        

        &-square {
            width: 10rem;
            height: 10rem;
        }

        &-wide {
            width: 20.875rem;
            height: 8rem;
        }
    }

    .some-item {
        appearance: none;
        background: transparent;
        border: 0 none;
        padding: 0;
    
        a {
            width: 100%;
            display: inline-block;
        }
    }

    .list-group {
        justify-content: space-between;
    }

    .some {
        &-title {
            padding: 0;
            margin: 0;
            padding-top: 15rem;
        }
    
        &-section {
            padding: 0;
            margin: 0;
        }
    
        &-item {
            appearance: none;
            background: transparent;
            border: 0 none;
            padding: 0;
    
            &-large {
                padding: .75rem;
            }
    
            &-small {
                padding: .75rem 1.4rem;
            }
        }
    }

    .some-col {
        padding: 0;
    }

    .dot {
        width: 2.75rem;
        height: 2.6875rem;
        background-color: hsla(214, 100%, 99%);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 3.4rem;
        left: 9.8rem;

        &-wide {
            left: 16.6rem;
        }
    
        &-grey {
            width: 2.125rem;
            height: 2.1875rem;
            background-color: hsla(218, 81%, 94%);
            top: 3.7rem;
            left: 10.15rem;
        
            &-large {
                position: relative;
                width: 5.9375rem;
                height: 5.875rem;
                background-color: hsla(218, 81%, 94%);
                top: 0;
                left: 0;
                right: 0;
            } 

            &-wide {
                left: 17.05rem;
            }
        }
    }
    
    .svg-dot {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
        margin: auto; 
        display: flex;
        background: none;
    
        &-large {
            width: 2.8125rem;
            height: 2.8125rem;
        }

        &-card {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .tiktok {
        width: 2.3rem;
        height: 2.3rem;
    }

    .tiktok-card {
        width: 1.3rem; 
        height: 1.3rem;
    }

    .tiktok-footer {
        width: 2.3rem; 
        height: 2.3rem;
    }

}

.some-icon-test {
    &-instagram {
        background: url("../../img/instagram.jpg") no-repeat center/cover;
    }
    &-youtube {
        background: url("../../img/youtube.jpg") no-repeat center/cover;
    }
    &-tiktok {
        background: url("../../img/tiktok.jpg") no-repeat center/cover;
    }
    &-facebook {
        background: url("../../img/facebook.jpg") no-repeat center/cover;
    }
    &-discord {
        background: url("../../img/discord.jpg") no-repeat center/cover;
    }

}