/* Hvordan å bruke disse variablene i koden? 
 *
 * background-color: hsl(var(--color-primary-100));
 * background-color: hsla(var(--color-primary-100), .5);
*/

:root {
  --color-primary-blue-50: 216, 33%, 97%;
  --color-primary-blue-100: 218, 81%, 94%;
  --color-primary-blue-200: 221, 91%, 87%;
  /* --color-primary-300: #fff; */
  --color-primary-blue-400: 225, 95%, 76%;
  /* --color-primary-500: #fff; */
  --color-primary-blue-600: 228, 96%, 67%;
  /* --color-primary-700: #fff; */
  --color-primary-blue-800: 228, 84%, 56%;
  --color-primary-blue-900: 240, 95%, 15%;

  --color-neutral-coldgray-100: 223, 54%, 97%;
  /* --color-neutral-coldgray-200: #fff; */
  /* --color-neutral-coldgray-300: #fff; */
  --color-neutral-coldgray-400: 221, 26%, 84%;
  /* --color-neutral-coldgray-500: #fff; */
  /* --color-neutral-coldgray-600: #fff; */
  --color-neutral-coldgray-700: 222, 18%, 43%;
  /* --color-neutral-coldgray-800: #fff; */
  --color-neutral-coldgray-900: 225, 43%, 5%;
}