/* MIXINS */
@mixin small {
  font-size: 0.8em;
  line-height: 1.2em;
}

@mixin overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px hsla(var(--color-primary-blue-100), 0.2);
    -webkit-box-shadow: inset 0 0 0 1000px hsla(var(--color-primary-blue-100), 0.2);
    -webkit-appearance: none;
    mix-blend-mode: color;
    border: none;
    margin: 0;
  }
}

@mixin zoom-on-hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: translateZ(0) scale(1.04);
    -webkit-transform: translateZ(0) scale(1.04);

    @media (min-width: 768px) {
      border-radius: 0.75rem;
    }

    @media (min-width: 992px) {
      border-radius: 1.5625rem;
    }
  }
}

@mixin animate-underline {
  text-decoration: none !important;
  span {
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 0.15rem;
      bottom: 0;
      left: 0;
      background-color: hsl(var(--color-neutral-coldgray-900));
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }

    &:hover,
    &:active {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
