:root {
    /***** @extend %color-palette-ukm; *****/
    --color-primary-blue-50: 216, 33%, 97%;
    --color-primary-blue-100: 218, 81%, 94%;
    --color-primary-blue-200: 221, 91%, 87%;
    /* --color-primary-300: #fff; */
    --color-primary-blue-400: 225, 95%, 76%;
    /* --color-primary-500: #fff; */
    --color-primary-blue-600: 228, 96%, 67%;
    /* --color-primary-700: #fff; */
    --color-primary-blue-800: 228, 84%, 56%;
    --color-primary-blue-900: 240, 95%, 15%;
  
    --color-neutral-coldgray-100: 223, 54%, 97%;
    /* --color-neutral-coldgray-200: #fff; */
    /* --color-neutral-coldgray-300: #fff; */
    --color-neutral-coldgray-400: 221, 26%, 84%;
    /* --color-neutral-coldgray-500: #fff; */
    /* --color-neutral-coldgray-600: #fff; */
    --color-neutral-coldgray-700: 222, 18%, 43%;
    /* --color-neutral-coldgray-800: #fff; */
    --color-neutral-coldgray-900: 225, 43%, 5%;

    // other colors
    --color-neutral-gray-100: 223, 54%, 97%; // duplicate
    --color-light-blue: 204, 45%, 98%;
    --color-very-light-blue: 210, 38%, 95%;
    --color-light-blue: 214, 100%, 99%;
    --color-dark-blue: 217, 95%, 60%;
    --color-even-darker-blue: 225, 43%, 5%; //duplicate
    --color-pink: 329, 94%, 52%;

    // dangerous colors 👻
    --color-danger-50: 0, 81%, 69%;
    --color-danger-100: 0, 81%, 49%;
    --color-danger-300: 0, 61%, 49%;

    /***** @extend %font; *****/
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins';

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}